header {
    text-align: center;
    color: #fff;
    padding: 30px 0;
    background-color: #2e2e2e;
}
header h1 {
    font-style: 42px;
    font-weight: 600;
    margin-bottom: 15px;
}
header p {
    font-style: 20px;
    font-weight: 300;
}

header p span {
    color: #B248D8;
    font-weight: bold;
}