.sign-up {
    height: 89.5vh;
    background-color: #1e1e1e;
}

.sign-up form {
        border: 3px solid #843C9D;
        border-radius: 40px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 40%;
        height: 70%;
        text-align: center;
        color: white;
}
.sign-up form h2 {
    margin-top: 60px;
}

.sign-up form input{
    background-color: transparent;
    border-radius: 8px;
    padding: 10px;
    color: #fff;
    width: 75%;
    margin-bottom: 15px;
    border: none;
}

.sign-up form .floating-email,
.sign-up form .floating-pass,
.sign-up .floating-user{
    position: absolute;
    top: 193px;
    left: 100px;
    color: #fff;
    background-color: #1e1e1e; 
}
.sign-up form .floating-pass{
    top: 252px;
    left: 100px;
}
.sign-up .floating-user {
    top: 132px;
    left: 100px;
}




.sign-up form button {
    display: block;
    margin:  0 auto;
    padding: 5px 50px;
    color: white;
    background-color: #843C9D;
    border: none;
    border-radius: 5px;
}

@media only screen and (max-width: 767px) {
    .sign-up form {

        width: 70%;
        height: 70%;
       
}
}
